<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      color: #000000;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification Data</title>
</head>
<body>
<p style="color: #000000;">Dear %s,</p>
<p style="color: #000000;">We would like to inform you that we have received your submitted data for
  verification. Our team is diligently reviewing the information you provided to ensure the accuracy
  and security of your account. </p>
<p style="color: #000000;">Please note that the verification process may take some time, and we
  appreciate your patience during this period. Once the verification is complete, we will notify you
  promptly.</p>
<p style="color: #000000;">If there are any issues or additional information required, our team will
  reach out to you directly. </p>
<p style="color: #000000;">If you have any questions or concerns, feel free to contact our support
  team at <a href="mailto:support@monitaet.com">support@monitaet.com</a>.</p>
<p style="color: #000000;"><strong>Best regards,</strong></p>
<p><a href="%s">%s</a></p>
</body>
</html>
