<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      color: #000000;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification Approval</title>
</head>
<body>
<p style="color: #000000;">Dear %s,</p>
<p style="color: #000000;">We are pleased to inform you that your submitted data has been
  successfully verified.</p>
<p style="color: #000000;">Your account is now approved and verified. You can enjoy the full
  benefits of our services.</p>
<p style="color: #000000;">If you have any further questions or concerns, feel free to contact our
  support team at <a href="mailto:support@monitaet.com">support@monitaet.com</a>.</p>
<p style="color: #000000;"><strong>Best regards,</strong></p>
<p><a href="%s">%s</a></p></body>
</body>
</html>
